/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Estilos para el formulario de inicio de sesion */
#loginForm {
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 400px;
  width: 400%;
  margin: 0 auto;
}

.logo {
  background-image: url(logo.jpg);
  background-size: contain;
  width: 260px;
  height: 130px;
  margin: 0 auto; /* Center the logo horizontally */
  margin-bottom: 10px;
}

h2 {
  margin: 0 0 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para el enlace de recuperacion */
.recover-link {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.recover-link:hover {
  text-decoration: underline;
}

/* Estilos para el modal de recuperación de contraseña */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

/* Estilos para el formulario dentro del modal */
#recoveryForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#recoveryForm label {
  margin-top: 10px;
  font-size: 14px;
}

#recoveryForm input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}


#recoveryForm button {
  background-color: #1877f2;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#recoveryForm button:hover {
  background-color: #115293;
}
