/* Estilos generales */
.container.catalogo {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 10px;
    overflow-x: hidden;
}

.container.catalogo .form-control,
.container.catalogo .form-control-range,
.container.catalogo .btn-primary {
    border-color: #23c01e;
}

.container.catalogo .form-control-range {
    background: linear-gradient(to right, #23c01e, #23c01e);
}

.container.catalogo .btn-primary {
    background-color: #23c01e;
}

.container.catalogo .form-control option:hover,
.container.catalogo .form-control option:focus {
    background-color: #23c01e;
    color: white;
}

/* Estilos para las tarjetas de producto */
.catalogo .card {
    width: 18%;
    height: 400px;
    margin: 1%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.catalogo .card:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.catalogo .card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.catalogo .card .card-body {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalogo .card .card-title {
    font-size: 16px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    /* Cambiado de nowrap a normal */
    font-weight: bold;
    color: #000000;
}

.catalogo .card .card-text {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.catalogo .card .precio {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

/* Estilos para el contenedor del catálogo */
#catalogoProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: auto;
}

/* Estilos para la franja de botones */
#botones {
    background-color: #23c01e;
    color: white;
    padding: 10px 0;
    width: 100%;
}

.botones button {
    background-color: #23c01e;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.botones button:hover {
    background-color: #23c01e;
    color: #ffffff;
}

/* Media queries para hacer las tarjetas responsivas */
@media (min-width: 1200px) {
    .catalogo .card {
        flex: 0 0 calc(20% - 2%);
    }
}

@media (max-width: 768px) {
    .catalogo .card {
        width: 48%;
        margin: 1%;
        height: auto;
    }

    .catalogo .card img {
        height: 60%;
    }

    .catalogo .card .card-body {
        padding: 10px;
    }

    .catalogo .card .card-title {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .catalogo .card .card-text {
        font-size: 12px;
        margin-bottom: 5px;
        color: orange;
    }

    .catalogo .card .precio {
        font-size: 16px;
        color: orange;
        font-weight: bold;
        position: absolute;
        bottom: 15px;
        left: 15px;
    }

    .catalogo .card .input-group {
        margin-top: 5px;
    }

    .catalogo .card .btn {
        padding: 5px 10px;
        font-size: 12px;
        height: 25px;
    }
}

/* CSS para el spinner */
.form-control.text-center {
    height: 25px;
}

/* CSS para el botón */
.btn.btn-outline-success {
    height: 25px;
}

#catalogoFiltro {
    position: relative;
    width: 100%;
    height: 200px;
    background: url('img/banner.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 6em;
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
    text-align: center;
}

#catalogoFiltro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

/* Cuando la pantalla tiene 600px o menos de ancho, disminuir el tamaño de la fuente */
@media (max-width: 600px) {
    #catalogoFiltro {
        font-size: 4em;
    }
}

/*Carrito*/
/* Estilo del contador en el carrito */
#cantidadCarrito {
    background-color: #23c01e;
    /* Color de fondo */
    color: #fff;
    /* Color del texto */
    padding: 4px 8px;
    /* Espaciado interno */
    border-radius: 25%;
    /* Borde redondeado para un aspecto más agradable */
}

/*carrito*/
/* Estilos para el panel del carrito de compras */
.carrito-panel {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    /* Cambiado a altura del 100% */
    width: 300px;
    /* Ancho del panel */
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.carrito-panel.open {
    transform: translateX(0);
}

.carrito-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.carrito-header h3 {
    margin: 0;
}

.carrito-header ion-icon {
    cursor: pointer;
}

.productos-carrito {
    padding: 10px;
    overflow-y: auto;
    max-height: calc(100% - 120px);
    /* Ajustado para que calcule la altura correctamente */
}

.carrito-footer {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.carrito-footer p {
    margin: 0;
}

#totalPagar {
    font-weight: bold;
    color: #23c01e;
    /* Color verde */
}

.botonCarrito {
    width: 100%;
    /* Ocupar todo el ancho del contenedor */
    background-color: #23c01e;
    /* Color verde personalizado */
    color: #fff;
    /* Texto en color blanco */
    padding: 10px;
    /* Espaciado interno del botón */
    border: none;
    /* Eliminar bordes */
    cursor: pointer;
    /* Cambiar el cursor al pasar sobre el botón */
    border-radius: 5px;
    /* Esquinas redondeadas */
}

.botonCarrito:hover {
    background-color: #1a7d14;
    /* Cambiar color al pasar el ratón sobre el botón */
}

/* Estilos para las imágenes del carrito */
.carrito-imagen {
    width: 50px;
    /* Puedes ajustar el ancho según sea necesario */
    height: auto;
    /* Mantener la proporción original de la imagen */
    margin-right: 10px;
    /* Espaciado entre la imagen y el texto */
}