.listadoMarcas {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.boton {
    margin: 2px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    flex: 1;
}

.boton:hover {
    background-color: #ddd;
}

.boton.ronAbuelo,
.boton.premierValue,
.boton.essentialEveryday,
.boton.ahorroMax,
.boton.panolini,
.boton.hollandia {
    background-color: #2E7D32;
    color: #fff;
}

.imagenMarca {
    display: none;
    margin: 20px;
    max-width: 70%;
    order: 1;
    /* Agregado para cambiar el orden en el diseño responsive */
}

.imagenMarca img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.imagenMarca.visible {
    display: flex;
    justify-content: center;
}

.tituloDescripcion {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloMarca {
    text-align: left;
    font-size: 100px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.descripcionMarca {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listadoMarcas h2 {
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    align-self: flex-start;
    margin-left: 200px;
    color: #2E7D32;
}

.listadoMarcas h1 {
    text-align: left;
    font-size: 25px;
    font-weight: normal;
    align-self: flex-start;
    margin-left: 200px;
    color: #e05a00;
}

.listadoMarcas h3 {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    align-self: flex-start;
    order: 2;
    /* Modificado para cambiar el orden en el diseño responsive */
}

.listadoMarcas p {
    width: 50ch;
    word-wrap: break-word;
    text-align: justify;
    order: 3;
    /* Modificado para cambiar el orden en el diseño responsive */
}

/* Media queries para hacer el diseño responsive */
@media (max-width: 768px) {
    .botones {
        justify-content: center;
    }

    .boton {
        flex-basis: 100%;
        /* Modificado para que los botones ocupen todo el ancho */
    }

    .tituloDescripcion,
    .listadoMarcas h2,
    .listadoMarcas h1,
    .listadoMarcas h3,
    .listadoMarcas p {
        margin-left: 0;
    }

    .imagenMarca img {
        max-width: 100%;
    }

    .listadoMarcas p {
        width: 100%;
    }
}