body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #e4e7e4;
}   

.filter label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.filter select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.product-grid {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}

.product {
    width: 30%;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;

}


.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    transition: transform 0.3s ease-in-out;
}

.product:hover img {
    transform: scale(1.2);
}

.product p {
    padding: 10px;
    margin: 0;
    color: #333;
}

.product button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0 0 4px 4px;
    transition: background-color 0.3s ease-in-out;
}

.product button:hover {
    background-color: #2980b9;
}

.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    padding: 10px;
    margin: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .pagination div {
    display: flex;
  }
  
  .pagination div div {
    padding: 10px;
    margin: 5px;
    border: 1px solid #007BFF;
    cursor: pointer;
  }
  
  .pagination div div:hover,
  .pagination div div.selected {
    background-color: #007BFF;
     color: #fff;
}

.hidden {
    display: none;
}

