.intro body {
    font-family: 'Poppins', sans-serif;
    color: #4a4a4e;
    margin: 10px;
}

.max-w-sm {
    max-height: 80vh;
    /* Ajusta este valor según tus necesidades */
}

@media (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
}

/*divicion*/
/* Estilos generales */
.relleno2 html,
.relleno2 body,
.relleno2 ul,
.relleno2 li {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Open Sans";
}

.relleno2 html {
    font-size: 10px;
}

.relleno2 body {
    font-size: 14px;
}

/* Estilos del banner */
.relleno2 .banner {
    background-color: #23c01e;
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    height: auto;
    /* Ajustar la altura automáticamente */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.relleno2 .banner li {
    position: relative;
}

/* Animaciones */
.relleno2 .banner li.item-1 {
    transform: translateX(-50%);
    opacity: 0;
    animation: item-1 0.5s ease forwards;
    animation-delay: 0.1s;
    font-size: 2.1rem;
    left: 50%;
}

.relleno2 .banner li.item-2 {
    animation: item-2 0.5s ease forwards;
    font-size: 2.1rem;
    opacity: 0.75;
}

/* Estilos específicos para pantallas pequeñas (hasta 768px) */
@media only screen and (max-width: 768px) {
    .relleno2 html {
        font-size: 8px;
        /* Reducir el tamaño de fuente para pantallas más pequeñas */
    }

    .relleno2 .banner {
        font-size: 1.2rem;
        /* Reducir el tamaño de fuente para pantallas más pequeñas */
        height: auto;
        /* Ajustar la altura automáticamente */
        padding: 0.5rem;
        /* Reducir el relleno para pantallas más pequeñas */
        line-height: normal;
        /* Ajustar la altura de línea para pantallas más pequeñas */
    }

    .relleno2 .banner li.item-1,
    .relleno2 .banner li.item-2 {
        font-size: 1.6rem;
        /* Reducir el tamaño de fuente para pantallas más pequeñas */
    }
}

.banner li.item-3 {
    animation: item-3 0.5s ease forwards;
    font-size: 1.5rem;
    opacity: 0.5;
}

.banner li.item-4 {
    font-size: 1.2rem;
    opacity: 0;
    animation: item-4 0.5s ease forwards;
}

.banner li:nth-child(n+5) {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

@keyframes item-1 {
    0% {
        opacity: 0;
        transform: translate(-50%, 0rem) scale(0.5);
        top: 1rem;
    }

    30% {
        transform: translate(-50%, -0.3rem);
        opacity: 0.5;
    }

    100% {
        transform: translate(-50%, 0.4rem);
        opacity: 1;
        top: 3.4rem;
    }
}

@keyframes item-2 {
    0% {
        opacity: 1;
        transform: translateY(0rem);
    }

    100% {
        transform: translateY(3rem) scale(0.71);
        opacity: 0.75;
    }
}

@keyframes item-3 {
    0% {
        opacity: 0.75;
        transform: translateY(0.5rem);
    }

    100% {
        opacity: 0.5;
        transform: translateY(3rem) scale(0.8);
    }
}

@keyframes item-4 {
    0% {
        opacity: 0.5;
        transform: translateY(0.5rem);
    }

    100% {
        transform: translateY(2rem);
        opacity: 0;
        filter: blur(2px);
    }
}

/*mas diviciones*/
/*relleno 3 */
.relleno3 .game-designer {
    padding: 4vh 0;
    text-align: center;
}

.relleno3 .game-designer-img {
    width: 270px;
    border-radius: 200px;
    margin: 0 auto;
    /* Centrar la imagen */
}

.relleno3 .game-designer-title-name {
    margin: 30px auto;
    /* Centrar el nombre del diseñador de juegos */
}

.relleno3 p.game-designer-para {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    /* Justificar el texto */
}

.relleno3 h3.designer-title {
    margin-top: 20px;
    color: #27292B;
    text-align: center;
    /* Centrar el título del diseñador */
}

.relleno3 .color-balls {
    position: relative;
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;700&family=Hind+Madurai:wght@400;700&family=Montserrat:ital,wght@0,700;1,700&display=swap');

.relleno3 h1,
.relleno3 h2,
.relleno3 h3,
.relleno3 p.date {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    /* Centrar el texto */
}

.relleno3 h2 {
    font-size: 3em;
    line-height: 1em;
    margin: 0 auto;
    /* Centrar la etiqueta h2 */
    color: #23c01e;
 
}

.relleno3 p {
    line-height: 1.5em;
    font-size: 1em;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
}

.relleno3 h3.designer-title {
    color: #ff9100;
}

.circle-container-top-left {
    position: absolute;
    width: 80px;
    height: 80px;
    top: -60px;
    left: -45px;
}

.blue-circle-1 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: #ff9100;
    top: 0;
    right: 0;
}

.red-circle-1 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: #23c01e;
    bottom: 0;
    left: 0;
}

.circle-container-bottom-right-1 {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -20px;
    right: 40px;
}

.circle-container-bottom-right-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0px;
    right: -20px;
}

.red-circle-2 {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background: #23c01e;
    top: 0;
    right: 0;
}

.blue-circle-2 {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: #ff9100;
    bottom: 0;
    left: 0;
}

/*relleno 4*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.bannerRelleno {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    /* Para ocultar el desbordamiento de los textos */
}