@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');

:root {
    --main-color: #4bcf23c2;
    --color-dark: #F3FDF0;
    --text-grey: #B0B0B0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

#menu-toggle {
    display: none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 165px;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    background: var(--color-dark);
    transition: left 300ms;
}

.side-header {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background: var(--main-color);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-header h3,
side-head span {
    color: #fff;
    font-weight: 400;
}

.side-content {
    height: calc(100vh - 60px);
    overflow: auto;
}

/* width */
.side-content::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.side-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.side-content::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border-radius: 10px;
}

/* Handle on hover */
.side-content::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.profile {
    text-align: center;
    padding: 2rem 0rem;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-size: cover;
}


.bg-img-tabla {
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
}

.profile-img {
    height: 80px;
    width: 80px;
    display: inline-block;
    margin: 0 auto .5rem auto;
    border: 3px solid #899DC1;
}

.profile h4 {
    color: #fff;
    font-weight: 500;
}

.profile small {
    color: #899DC1;
    font-weight: 600;
}

.sidebar {
    /*overflow-y: auto;*/

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.side-menu ul {
    text-align: center;
}

.side-menu a {
    display: block;
    padding: 1.2rem 0rem;
}

.side-menu a.active {
    background: #92DE3F;
}

.side-menu a.active span,
.side-menu a.active small {
    color: #fff;
}

.side-menu a span {
    display: block;
    text-align: center;
    font-size: 1.7rem;
}

.side-menu a span,
.side-menu a small {
    color: #899DC1;
}

#menu-toggle:checked~.sidebar {
    width: 60px;
}

#menu-toggle:checked~.sidebar .side-header span {
    display: none;
}

#menu-toggle:checked~.main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
}

#menu-toggle:checked~.main-content header {
    left: 60px;
}

#menu-toggle:checked~.sidebar .profile,
#menu-toggle:checked~.sidebar .side-menu a small {
    display: none;
}

#menu-toggle:checked~.sidebar .side-menu a span {
    font-size: 1.3rem;
}


.main-content {
    margin-left: 165px;
    width: calc(100% - 165px);
    transition: margin-left 300ms;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    left: 165px;
    z-index: 100;
    height: 60px;
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background: #fff;
    transition: left 300ms;
}

.header-content,
.header-menu {
    display: flex;
    align-items: center;
}

.header-content {
    justify-content: space-between;
    padding: 0rem 1rem;
}

.header-content label:first-child span {
    font-size: 1.3rem;
}

.header-content label {
    cursor: pointer;
}

.header-menu {
    justify-content: flex-end;
    padding-top: .5rem;
}

.header-menu label,
.header-menu .notify-icon {
    margin-right: 2rem;
    position: relative;
}

.header-menu label span,
.notify-icon span:first-child {
    font-size: 1.3rem;
}

.notify-icon span:last-child {
    position: absolute;
    background: var(--main-color);
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    color: #fff;
    font-size: .8rem;
    font-weight: 500;
}

.user {
    display: flex;
    align-items: center;
}

.user div,
.client-img {
    height: 40px;
    width: 40px;
    margin-right: 1rem;
}

.user span:last-child {
    display: inline-block;
    margin-left: .3rem;
    font-size: .8rem;
}

main {
    margin-top: 60px;
}

.page-header {
    padding: 1.3rem 1rem;
    background: #E9edf2;
    border-bottom: 1px solid #dee2e8;
}

.page-header h1,
.page-header small {
    color: #74767d;
}

.page-content {
    padding: 1.3rem 1rem;
    background: #f1f4f9;
}

.analytics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.card {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    padding: 1rem;
    border-radius: 3px;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-head h2 {
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
}

.card-head span {
    font-size: 3.2rem;
    color: var(--text-grey);
}

.card-progress small {
    color: #777;
    font-size: .8rem;
    font-weight: 600;
}

.card-indicator {
    margin: .7rem 0rem;
    height: 10px;
    border-radius: 4px;
    background: #e9edf2;
    overflow: hidden;
}

.indicator {
    height: 10px;
    border-radius: 4px;
}

.indicator.one {
    background: #22baa0;
}

.indicator.two {
    background: #11a8c3;
}

.indicator.three {
    background: #f6d433;
}

.indicator.four {
    background: #f25656;
}

.records {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 3px;
}

.record-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add,
.browse {
    display: flex;
    align-items: center;
}

.add span {
    display: inline-block;
    margin-right: .6rem;
    font-size: .9rem;
    color: #666;
}

input,
button,
select {
    outline: none;
}

.add select,
.browse input,
.browse select {
    height: 35px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    display: inline-block;
    width: 75px;
    padding: 0rem .5rem;
    margin-right: .8rem;
    color: #666;
}

.add button {
    background: var(--main-color);
    color: #fff;
    height: 37px;
    border-radius: 4px;
    padding: 0rem 1rem;
    border: none;
    font-weight: 600;
}

.browse input {
    width: 150px;
}

.browse select {
    width: 100px;
}

.table-responsive {
    width: 100%;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background: #e9edf2;
}

table thead th {
    padding: 1rem 0rem;
    text-align: left;
    color: #444;
    font-size: .9rem;
}

table thead th:first-child {
    padding-left: 1rem;
}

table tbody td {
    padding: 1rem 0rem;
    color: #444;
}

table tbody td:first-child {
    padding-left: 1rem;
    color: var(--main-color);
    font-weight: 600;
    font-size: .9rem;
}

table tbody tr {
    border-bottom: 1px solid #dee2e8;
}

.client {
    display: flex;
    align-items: center;
}

.client-img {
    margin-right: .5rem;
    border: 2px solid #b0b0b0;
    height: 45px;
    width: 45px;
}

.client-info h4 {
    color: #555;
    font-size: .95rem;
}

.client-info small {
    color: #777;
}

.actions span {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: .5rem;
}

.paid {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    color: var(--main-color);
    background: #e5f8ed;
    padding: .5rem 1rem;
    border-radius: 20px;
    font-size: .8rem;
}

.client-img-catalogo {
    margin-right: .5rem;
    height: 45px;
    width: 60px;
}

@media only screen and (max-width: 1200px) {
    .analytics {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .analytics {
        grid-template-columns: 100%;
    }

    .sidebar {
        left: -165px;
        z-index: 90;
    }

    header {
        left: 0;
        width: 100%;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    #menu-toggle:checked~.sidebar {
        left: 0;
    }

    #menu-toggle:checked~.sidebar {
        width: 165px;
    }

    #menu-toggle:checked~.sidebar .side-header span {
        display: inline-block;
    }

    #menu-toggle:checked~.sidebar .profile,
    #menu-toggle:checked~.sidebar .side-menu a small {
        display: block;
    }

    #menu-toggle:checked~.sidebar .side-menu a span {
        font-size: 1.7rem;
    }

    #menu-toggle:checked~.main-content header {
        left: 0px;
    }

    table {
        width: 900px;
    }
}


.logout-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* Quitar subrayado de los enlaces */
    color: #333;
    /* Cambiar el color del texto */
}

.logout-link:hover {
    color: white;
    /* Cambiar el color al pasar el ratón sobre el enlace */
}

.logout-link .las {
    margin-right: 5px;
    /* Añadir un pequeño espacio entre el icono y el texto */
}


/* FORMULARIO */
.modal {
    display: none;
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 90%; /* Ajuste para hacer la caja más ancha */
    max-width: 600px;
    border-radius: 10px;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #008000; /* Color verde para las etiquetas */
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 15px; /* Ajuste del tamaño de los botones */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.cancel {
    background-color: #f44336;
}

@media (max-width: 600px) {
    .modal-content {
        width: 90%;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    button {
        margin-bottom: 10px;
        width: 100%; /* Hace que los botones ocupen el ancho completo en pantallas pequeñas */
    }
}


/* Agrega esta sección al final de tu archivo CSS existente */

/* Estilos para pantallas más pequeñas */
/* @media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-content {
        width: 100%;
        padding: 20px;
    }

    .header-content {
        padding: 15px;
    }

    .header-menu {
        display: none;
    }

    .records {
        overflow-x: auto;
    }

    .product-table {
        font-size: 12px;
    }

    .product-table th,
    .product-table td {
        padding: 6px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    button {
        margin-bottom: 10px;
    }
} */


@media screen and (max-width: 768px) {
    .form-container {
        width: 90%; /* Puedes ajustar el porcentaje según tus necesidades */
        max-width: 100%;
        margin: 0 auto;
    }

    .modal-content {
        width: 90%; /* Ajusta el ancho del formulario */
    }

    .row {
        flex-direction: column; /* Apila las columnas en pantallas más pequeñas */
    }

    .column {
        flex: 1;
        padding: 10px;
        box-sizing: border-box;
        width: 100%; /* Ocupa el ancho completo en pantallas más pequeñas */
    }


    .myModal_Eliminar {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content-eliminar {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        width: 80%;
        max-width: 400px;
        border-radius: 10px;
        text-align: center;
    }

    .modal-content-eliminar h2 {
        color: #f44336;
    }

    .modal-content-eliminar p {
        margin-top: 20px;
    }

    .buttons-eliminar {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    .buttons-eliminar button {
        background-color: #f44336;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}